{% extends 'govapp/base.html' %}
{% block content %}
{% if request.user.is_authenticated is True %}
    <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="container" id="dashboard-table-container">

        <h4 class="d-flex align-items-center">
            <div class="me-auto">
                Group: <span id="group-name">{{ geoserver_group.name }}</span>
                <span id="group-active-badge" class="badge {% if geoserver_group.active %}bg-success{% else %}bg-secondary{% endif %}">
                    {% if geoserver_group.active %}Active{% else %}Inactive{% endif %}
                </span>
            </div>
            <button id="edit-button" class="btn btn-primary ms-2">Edit Group Name</button>
        </h4>

        <div id="edit-form" class="row align-items-center my-2" style="display: none;">
            <div class="col-auto">
                <input type="text" id="name-input" class="form-control" value="{{ geoserver_group.name }}" placeholder="Group Name">
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input type="checkbox" id="active-input" class="form-check-input" {% if geoserver_group.active %}checked{% endif %}>
                    <label class="form-check-label" for="active-input">
                        Active
                    </label>
                </div>
            </div>
            <div class="col-auto">
                <button id="save-button" class="btn btn-primary">Save</button>
            </div>
            <div class="col-auto">
                <button id="cancel-button" class="btn btn-secondary">Cancel</button>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header fw-bold h4" style="padding:30px;">
                <div class="row">
                    <div class="col-6">Role</div>
                    <div class="col-6 text-end"><i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box1-card-body" onclick=""></i></div>
                </div>
            </div>
            <div class="card-body collapse show" id="box1-card-body">
                <div class="row">
                    <div class="col-12 text-end">
                        <button id="addGeoServerRole" class="btn btn-primary mb-3">Add Role to the Usergroup</button>
                    </div>
                </div>
                <table id="geoservergroup_roles_table" class="table table-striped table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header fw-bold h4" style="padding:30px;">
                <div class="row">
                    <div class="col-6">User</div>
                    <div class="col-6 text-end"><i class="bi fw-bold chevron-toggle down-chevron-open" data-bs-target="#box2-card-body" onclick=""></i></div>
                </div>
            </div>
            <div class="card-body collapse show" id="box2-card-body">
                <div class="row">
                    <div class="col-12 text-end">
                        <button id="addGeoServerUser" class="btn btn-primary mb-3">Add User to the Usergroup</button>
                    </div>
                </div>
                <table id="geoservergroup_users_table" class="table table-striped table-bordered table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <!-- Add Role Modal -->
    <div class="modal fade" id="addRoleModal" tabindex="-1" aria-labelledby="addRoleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRoleModalLabel">Add GeoServer Role</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addRoleForm">
                        <div class="mb-3">
                            <label for="roleSelect" class="form-label">Select Role</label>
                            <select class="form-select" id="roleSelect" required>
                                <option value="">Choose a role...</option>
                                <!-- Options will be populated dynamically -->
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addRoleButton">Add Role</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add User Modal -->
    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLabel">Add GeoServer User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addUserForm">
                        <div class="mb-3">
                            <label for="userSelect" class="form-label">Select User</label>
                            <select class="form-select" id="userSelect">
                                <!-- Select2 here -->
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addUserButton">Add User</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Feedback Modal -->
    {% include "govapp/feedback_modal.html" %}

    <!-- Confirmation Modal -->
    {% include "govapp/confirmation_modal.html" %}

    <style>
        .modal-body.text-success {
            color: #28a745;
        }

        .modal-body.text-danger {
            color: #dc3545;
        }
    </style>

    <!-- datatables -->
    <link href="/static/common/css/datatables.css" rel="stylesheet" />
    <script src="/static/common/js/datatables.min.js?ver={{ GIT_COMMIT_HASH }}"></script>

    <!-- select2 -->
    <link href="/static/common/css/select2.css" rel="stylesheet" />
    <link href="/static/common/css/select2-bootstrap-5-theme.css" rel="stylesheet" />
    <script src="/static/common/js/select2.js?ver={{ GIT_COMMIT_HASH }}"></script>

    <script>
        // Namespace to avoid global scope pollution
        var UserGroupApp = function() {
            let roleToRemove = null;
            let userToRemove = null;

            function setupEventHandlers() {
                const editButton = $('#edit-button');
                const editForm = $('#edit-form');
                const saveButton = $('#save-button');
                const cancelButton = $('#cancel-button');
                const nameInput = $('#name-input');
                const activeInput = $('#active-input');
                const groupName = $('#group-name');
                const groupActive = $('#group-active');
                editButton.click(function() {
                    editForm.fadeIn();
                    editButton.fadeOut();
                });
                cancelButton.click(function() {
                    editForm.fadeOut();
                    editButton.fadeIn();
                });
                saveButton.click(function() {
                    const newName = nameInput.val();
                    const newActive = activeInput.prop('checked');

                    $.ajax({
                        // url: `/api/geoserver-groups/${groupName.text()}/`,
                        url: '/api/publish/geoservergroup/{{ geoserver_group.id }}/update_group/',
                        method: 'PATCH',
                        data: JSON.stringify({
                            name: newName,
                            active: newActive
                        }),
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': $('#csrfmiddlewaretoken').val()
                        },
                        success: function(response) {
                            editForm.hide();
                            editButton.show();
                            updateGroupDisplay(response.group);
                            FeedbackModal.showFeedback("Group updated successfully.", true);
                        },
                        error: function(xhr, status, error) {
                            FeedbackModal.showFeedback("Failed to delete group. " + xhr.responseJSON.error, false);
                        }
                    });
                });

                $('#geoservergroup_roles_table').on('click', '.remove-role', function() {
                    const roleId = $(this).data('role-id');
                    const roleName = $(this).data('role-name')
                    roleToRemove = roleId;
                    userToRemove = null;
                    ConfirmationModal.showConfirmation(roleId, 'the role: ' + roleName);
                });
                $('#geoservergroup_users_table').on('click', '.remove-user', function() {
                    const userId = $(this).data('user-id');
                    const userName = $(this).data('user-name')
                    roleToRemove = null;
                    userToRemove = userId;
                    ConfirmationModal.showConfirmation(userId, 'the user: ' + userName);
                });
                $('#confirmDeleteBtn').on('click', function() {
                    if (roleToRemove) {
                        removeRole(roleToRemove);
                    } else if (userToRemove) {
                        removeUser(userToRemove);
                    }
                    $('#deleteConfirmationModal').modal('hide');
                    roleToRemove = null;
                    userToRemove = null;
                });
                $('#addGeoServerRole').on('click', function() {
                    fetchAvailableRoles();
                    $('#addRoleModal').modal('show')
                });
                $('#addGeoServerUser').on('click', function() {
                    $('#addUserModal').modal('show')
                });
                $('#addRoleButton').on('click', addRole);
                $('#addUserButton').on('click', addUser);
                // Clear selection when modal is hidden
                $('#addUserModal').on('hidden.bs.modal', function () {
                    $('#userSelect').val(null).trigger('change');
                });
                // Ensure the select2 dropdown is properly positioned in the modal
                $('#addUserModal').on('shown.bs.modal', function () {
                    $('#userSelect').select2('open');
                });
            }

            function updateGroupDisplay(data) {
                console.log({data})
                $('#group-name').text(data.name);
                
                const $badge = $('#group-active-badge');
                if (data.active) {
                    $badge.removeClass('bg-secondary').addClass('bg-success').text('Active');
                } else {
                    $badge.removeClass('bg-success').addClass('bg-secondary').text('Inactive');
                }
            }

            // Role
            function removeRole(roleId) {
                $.ajax({
                    url: '/api/publish/geoservergroup/{{ geoserver_group.id }}/remove_role/',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: $('#csrfmiddlewaretoken').val(),
                        role_id: roleId
                    },
                    success: function(response) {
                        if (response.data.success) {
                            $('#geoservergroup_roles_table').DataTable().ajax.reload();
                            FeedbackModal.showFeedback("Role removed successfully.", true);
                        } else {
                            FeedbackModal.showFeedback("Failed to remove role: " + response.error, false);
                        }
                    },
                    error: function(xhr, status, error) {
                        FeedbackModal.showFeedback("Failed to remove role. Please try again.", false);
                    }
                });
            }

            function constructRolesTable(){
                $('#geoservergroup_roles_table').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/api/publish/geoservergroup/{{ geoserver_group.id }}/roles_related/",
                        "type": "GET",
                    },
                    "columnDefs": [
                        {
                            targets: [2],
                            className: 'text-center'
                        },
                        {
                            targets: [3], // column#3 is Action currently.
                            className: 'text-end'
                        }
                    ],
                    "columns": [
                        { "data": "id" },
                        { "data": "name" },
                        { 
                            "data": "active",
                            "render": function(data, type, row) {
                                console.log({row})
                                return data ? '<span class="badge bg-success">Active</span>' : '<span class="badge bg-secondary">Inactive</span>';
                            }
                        },
                        {
                            "data": "id",
                            "render": function(data, type, row) {
                                return `
                                    <button class="btn btn-sm btn-danger remove-role" data-role-id="${data}" data-role-name="${row.name}">Remove Role</button>
                                `;
                            }
                        }
                    ],
                    "paging": false,
                    "info": false,
                    "pageLength": -1,
                    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                    "searching": false,
                    "ordering": true
                });
            }

            function fetchAvailableRoles() {
                $.ajax({
                    url: "/api/publish/geoservergroup/{{ geoserver_group.id }}/roles_available/",
                    type: 'GET',
                    success: function(data) {
                        console.log({data})
                        var select = $('#roleSelect');
                        select.empty();
                        select.append($('<option></option>').attr('value', '').text('Choose a role...'));
                        $.each(data.data, function(i, role) {
                            select.append($('<option></option>').attr('value', role.id).text(role.name));
                        });
                    },
                    error: function(xhr, status, error) {
                        alert("Failed to fetch available roles. Please try again.");
                    }
                });
            }

            function addRole() {
                var roleId = $('#roleSelect').val();
                if (!roleId) {
                    FeedbackModal.showFeedback("Please select a role.", false);
                    return;
                }

                $.ajax({
                    url: '/api/publish/geoservergroup/{{ geoserver_group.id }}/add_role/',
                    type: 'POST',
                    data: {
                        role_id: roleId,
                        csrfmiddlewaretoken: $('#csrfmiddlewaretoken').val()
                    },
                    success: function(response) {
                        if (response.data.success) {
                            $('#addRoleModal').modal('hide');
                            $('#geoservergroup_roles_table').DataTable().ajax.reload();
                            FeedbackModal.showFeedback("Role added successfully.", true);
                        } else {
                            FeedbackModal.showFeedback("Failed to add role: " + response.error, false);
                        }
                    },
                    error: function(xhr, status, error) {
                        FeedbackModal.showFeedback("Failed to add role. Please try again.", false);
                    }
                });
            }

            // User
            function removeUser(userId) {
                $.ajax({
                    url: '/api/publish/geoservergroup/{{ geoserver_group.id }}/remove_user/',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: $('#csrfmiddlewaretoken').val(),
                        user_id: userId
                    },
                    success: function(response) {
                        if (response.data.success) {
                            $('#geoservergroup_users_table').DataTable().ajax.reload();
                            FeedbackModal.showFeedback("User removed successfully.", true);
                        } else {
                            FeedbackModal.showFeedback("Failed to remove user: " + response.error, false);
                        }
                    },
                    error: function(xhr, status, error) {
                        FeedbackModal.showFeedback("Failed to remove user. Please try again.", false);
                    }
                });
            }
            function constructUsersTable(){
                $('#geoservergroup_users_table').DataTable({
                    "processing": true,
                    "serverSide": true,
                    "paging": true,
                    "ajax": {
                        "url": "/api/publish/geoservergroup/{{ geoserver_group.id }}/users_related/",
                        "type": "GET",
                        "dataSrc": "data"
                    },
                    "columnDefs": [
                        {
                            targets: [5],
                            className: 'text-center'
                        },
                        {
                            targets: [6], // column#6 is Action currently.
                            className: 'text-end'
                        }
                    ],
                    "columns": [
                        { "data": "id" },
                        { "data": "username" },
                        { "data": "first_name" },
                        { "data": "last_name" },
                        { "data": "email" },
                        { 
                            "data": "is_active",
                            "render": function(data, type, row) {
                                return data ? '<span class="badge bg-success">Active</span>' : '<span class="badge bg-secondary">Inactive</span>';
                            }
                        },
                        {
                            "data": "id",
                            "render": function(data, type, row) {
                                return `
                                    <button class="btn btn-sm btn-danger remove-user" data-user-id="${data}" data-user-name="${row.username}">Remove User</button>
                                `;
                            }
                        }
                    ],
                    "info": true,
                    "pageLength": 25,
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    "searching": false,
                    "ordering": true
                });
            }
            function addUser(){
                var selectedUserId = $('#userSelect').val();
                if (selectedUserId) {
                    $.ajax({
                        url: '/api/publish/geoservergroup/{{ geoserver_group.id }}/add_user/',
                        method: 'POST',
                        data: JSON.stringify({ user_id: selectedUserId }),
                        contentType: 'application/json',
                        headers: {
                            'X-CSRFToken': $('#csrfmiddlewaretoken').val()
                        },
                        success: function(response) {
                            console.log({response})
                            $('#addUserModal').modal('hide');
                            $('#geoservergroup_users_table').DataTable().ajax.reload();
                            FeedbackModal.showFeedback(response.data.message, true);
                        },
                        error: function(xhr, status, error) {
                            FeedbackModal.showFeedback('Error: ' + xhr.responseJSON.error, false);
                        }
                    });
                } else {
                    alert('Please select a user.');
                }
            }
            function initializeAddUserModal(){
                $('#userSelect').select2({
                    theme: 'bootstrap-5',
                    width: '100%',
                    placeholder: 'Search for a user...',
                    allowClear: true,
                    ajax: {
                        url: "/api/publish/geoservergroup/{{ geoserver_group.id }}/users_available/",
                        dataType: 'json',
                        delay: 250,
                        data: function(params) {
                            return {
                                search: params.term, // search term
                                page: params.page || 1
                            };
                        },
                        processResults: function(data, params) {
                            console.log({data})
                            console.log({params})
                            params.page = params.page || 1;
                            return {
                                results: data.data,
                                pagination: {
                                    more: (params.page * 10) < data.recordsFiltered // Assuming 10 results per page
                                }
                            };
                        },
                        cache: true
                    },
                    minimumInputLength: 1,
                    language: {
                        inputTooShort: function() {
                            return "Please enter 1 or more characters";
                        },
                        searching: function() {
                            return "Searching...";
                        },
                        noResults: function() {
                            return "No results found";
                        }
                    },
                    dropdownParent: $('#addUserModal')
                });
            }

            // Initialization function
            function init() {
                constructRolesTable();
                constructUsersTable();
                setupEventHandlers();
                initializeAddUserModal();
                // updateGroupDisplay(geoserver_group);
            }

            // Expose the init function to be called on document ready
            return init 
        };

        // Initialize the application when document is ready
        $(document).ready(function() {
            UserGroupApp()();
        });
    </script>
{% else %}
    <div class="container" id="dashboard-table-container">
        <h3>Permission Denied.  You are not authenticated.</h3>
    </div>
{% endif %}
{% endblock %}
